* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}
#container {
  background-color: #edf2f4;
  display: flex;
}
#container .data-info {
  width: 50%;
  height: 100vh;
  background: url(../img/bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .data-info .info-container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 1rem;
}
#container .data-info .info-container .info-item {
  width: 100%;
  background-color: rgba(217, 217, 217, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s;
}
#container .data-info .info-container .info-item:hover {
  background-color: rgba(217, 217, 217, 80%);
}
#container .data-info .info-container .info-item .info-delete .fa-xmark {
  cursor: pointer;
}
#container .data-add {
  width: 50%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #edf2f4;
  box-shadow: -10px 5px 30px rgba(0, 0, 0, 50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .data-add .alert-info {
  width: 100%;
  height: 60px;
  position: absolute;
  top: -70px;
  right: 0;
  background-color: #f46677;
  /* background-color: #3EB281; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 35%);
  color: #edf2f4;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: top 0.5s;
}
#container .data-add .alert-info .infoTitle {
  font-weight: bold;
}
#container .social {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #8d99ae;
  padding: 0.5rem 1.5rem;
  display: flex;
  gap: 1.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  z-index: 1;
}
#container .social a {
  color: #edf2f4;
  font-size: 2rem;
  display: inline-block;
  transition: color 0.5s;
}
#container .social a:hover {
  color: #cec5b9;
}
#container .data-add .data-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#container .data-add .data-form h1.title {
  color: #8d99ae;
}
#container .data-add .data-form .input {
  padding: 1rem 2rem;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #fff;
  transition: border 0.5s;
  color: #8d99ae;
}
#container .data-add .data-form .input:focus {
  border: 2px solid #ee964b;
}
#container .data-add .data-form .submit {
  background-color: #ee964b;
  color: #edf2f4;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 2rem;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.5s;
}
#container .data-add .data-form .submit:hover {
  background-color: rgba(238, 150, 75, 80%);
}
#copyright {
  position: absolute;
  bottom: 2rem;
  z-index: 1;
  color: #8d99ae;
}
